
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*styling whole HTML body*/
body{
    background:linear-gradient(to right,#00AAFF,#00ff6c);
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
    font-family: "poppins", sans-serif;
}
/*styling calculator border class */
.calculator-border{
    width:430px;
    height:600px;
    background-color: #28282B;
    border-radius: 10px;
    border: 2px solid #00ff6c;
    animation: pulsate-border 1.5s infinite;}
/* styling class screen*/
.screen{
    width:430px;
    height: 150px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size:3rem;
}
/* styling buttons class*/
.buttons{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:1px;
  padding:10px;
  margin-left:20px;
}
/* styling all operand classes from button tag*/
.operand{
    background-color: white;
    padding:10px;
    border-radius: 50%;
    width:70px;
    height:70px;
    color:black;
    border:none;
    font-size: larger;
    cursor: pointer;
}
/* styling all operandcolor classes from button tag*/
.operandcolor{
    color:#FFFFFF;
    font-size: larger;
    background-color: #FF7518;
}

.equal{
    background-color: #FF7518;
    color:#FFFFFF;
}


/* giving active effect to class operand of all button tag*/
.operand:active{
    box-shadow: 1px 1px 1px 1px grey;
}
/* giving active effect to class operand of all button tag*/
.operandcolor:active{
    box-shadow: 1px 1px 1px 1px #FF7518;
}
/* giving slight hovering effect to class operand from all button tag*/
.operand:hover{
    color:#FF7518;
}
/* giving slight hovering effect to class operandcolor from all button tag*/
.operandcolor:hover{
    color:#00ff6c;
}
